<%- include('../partials/header.ejs') %>
<main>
    <section id="index_main_body_text_section">
        <div class="center_div_1">
            <br><br>
            <h3 id="index_body_text_header"> Welcome, <%=user.firstName%> </h3>
            <div id="index_body_text_div">
                <% if(connections.length) { %>
                    <p>You have created the following connections:</p>
                    <%connections.forEach(connection => { %>
                        <a href='/connections/<%= connection.id %>'>
                            <p><%= connection.name %></p>
                        </a>
                    <% });
                } else { %>
                    <p>You have not created any connections</p>
                <% } %>
                <br><br>
            </div>
        </div>
    </section>
</main>
    <%- include('../partials/footer.ejs') %>