<%- include('../partials/header.ejs') %>
    <main>
        <section id="new_connection_body_section">
            <br><br>
            <div class="center_div_1">
                <!--Create new connection form-->
                <form id="new_connection_form" method="POST" action="/connections/<%= connection.id %>?_method=PUT">
                    <label for="name">Connection Name:</label>
                    <input type="text" id="name" name="name" value="<%= connection.name %>"><br><br><br>
                    <label for="catagory">Catagory:</label>
                    <select id="catagory" name="catagory" value="<%= connection.catagory %>">
                    <option value = "Learning/Practice">Learning/Practice</option>
                    <option value = "Competitions">Competitions</option>
                    <option value = "Social Gatherings">Social Gatherings</option>
                </select><br><br><br>
                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date" value="<%= connection.date %>"><br><br><br>
                    <label for="start_time">Start Time:</label>
                    <input type="time" id="start_time" name="start_time" value="<%= connection.start_date %>"><br><br><br>
                    <label for="end_time">End Time:</label>
                    <input type="time" id="end_time" name="end_time" value="<%= connection.end_date %>"><br><br><br>
                    <label for="location">Location:</label>
                    <input type="text" id="location" name="location" value="<%= connection.location %>"><br><br><br>
                    <label for="image">Image Link:</label>
                    <input type="text" id="image" name="image" value="<%= connection.image %>"><br><br><br>
                    <br><br><br>
                    <label for="details">Description:</label>
                    <input type="text" id="details" name="details" value="<%= connection.details %>">
                    <br><br><br><br>
                    <input type="submit" value="Create Connection" id="create_connection_button">
                    <br><br><br>
                </form>
            </div>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>